#nav-bar {
  border-radius: 5px;
  background-color: dimgray;
  color: white;
  display: flex;
  justify-content: space-around;
}
img {
  height: 55px;
  width: 55px;
}
ul {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  gap: 25px;
}
li {
  list-style-type: none;
}

a {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(32, 32, 41);
  border: 2px solid white;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  z-index: -1;
  pointer-events: none;
}
card1 {
  top: auto;
}
